.detail {

    display: flex;
    padding: 4.5rem;
    border-bottom: var(--line);
    font-size: 1.4rem;

    @include respond(bp-medium) {
        padding: 3rem;
    }

    @include respond(bp-small) {
        flex-direction: column;
    }

    &__description {
        background-color: #fff;
        box-shadow: var(--shadow-light);
        padding: 3rem;
        flex: 0 0 60%;
        margin-right: 4.5rem;

        @include respond(bp-medium) {
            padding: 2rem;
            margin-right: 3rem;
        }

        @include respond(bp-small) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__user-reviews {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {

    }

    &__recommend {
        font-size: 1.3rem;
        color: var(--color-gray-dark-3);

        display: flex;
        align-items: center;

        &--count {
            margin-right: 1.5rem;;
        }

        &--friends {
            display: flex;
        }

        &--photo {
            box-sizing: content-box;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: .3rem solid #fff;

            &:not(:last-child) {
                margin-right: -2rem;
            }
        }
    }

}